.notification {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.notification.error {
  color: red;
}

.blog-item {
  border: 2px dotted grey;
  margin: 10px 0;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.blog-item button {
  margin-left: 6px;
}

.blog-item__details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
